*{
    box-sizing: border-box;
    color: white;
}
html,body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
body{
    background-image: url('./assets/body-image.jpg');
    background-position: center;
    background-size: 30%;
}
.layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main{
    padding:120px 20px 40px;
    margin: 0 auto;
    width: 100%;
    max-width:1000px ;
    
}
main{
    flex: 1;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.nav-bar{
    width: 90%;
    margin:auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.397);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.nav-bar #contact{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    color: white;
    font-size:1.2rem;
}
.nav-bar ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}
.nav-bar li a{
    text-decoration: none;
    color: white;
    padding-bottom: 4px;
    position: relative;
    font-size: 1.2rem;

}
.nav-bar li a::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background-color: rgb(141, 80, 147);
    transition: 0.5s;
}
.nav-bar li a:hover::after{
    width: 100%;
}

/*ACTIVE PAGE*/
.nav-bar li a.active::after{
    width: 100%;
}
.nav-bar li a.active{
    color: rgb(141, 80, 147);
    font-weight: 600;
}

.intro{
    width:80%;
    margin: 0px;
    padding: 70px;
}
span{
    margin: 0;
    line-height: 1.0;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    
}
#work{
    margin:0;
    line-height: 1.0;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.intro p{
    margin: 9px 0 0;
    font-size: larger;
    font-size: 40px;
}
.about{
    width: 100%;
    font-size: 17px;
}
.main h1{
    font-size:30px;
    margin-top:40px;
    bottom:0;
    text-decoration-line: underline;    
    text-decoration-color: #5e3963;     
    text-decoration-thickness: 1px;     
    text-underline-offset: 4px;         
}
#e-mail{
    margin-bottom:50px;
    margin-top: -18px;
    line-height: 25px;
    font-size: 20px;
}
.about-location{
    margin-top: 100px;
    margin-left: 220px;
    color: aqua;
    font-size: 20px;
}
.boyd{
    width: 80%;
    margin-left: 70px;
}
.btn{
    display: flex;
    margin-right: 20px;
    margin-left: -50px;
}
button{
    background:none ;
    border: 1px solid rgb(229, 216, 216);
    padding:7px 16px;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.3s;

}
button:hover{
    background-color: rgb(78, 51, 81);

}
footer{
    text-align: center;
    padding: 40px;
}
@media (min-width:768px) {
    .main{
        max-width:850px;
    }
}